@import url("https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css");
@import url("https://cdn-uicons.flaticon.com/uicons-bold-straight/css/uicons-bold-straight.css");
@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");
body {
  background-color: cornsilk;
}
h1 {
  color: brown;
}

input {
  width: 25vw;
  height: 5vh;
  border: none;
  padding: 10px;
}
li {
  height: 5vh;
  border: none;
  padding: 10px;
  margin: 10px 0px;
}

.btn {
  background-color: brown;
  border: none;
  color: white;
  width: 7vw;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
i {
  padding: 0 10px;
}
.icons-div {
  display: flex;
  justify-content: space-around;
}
.form-group {
  display: flex;
  flex-direction: column;
}
.input-div {
  display: flex;
}
.header,
.list {
  display: flex;
  justify-content: center;
  align-items: center;
}
::marker {
  content: none;
}
.list-card {
  background-color: blanchedalmond;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.icon-btn {
  background-color: transparent;
  border: none;
}
.checked {
  text-decoration: line-through;
}

.deleted {
  display: none;
}
.unchecked {
  text-decoration: none;
}
